@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');


.time {
    text-align: center;
    padding: 32px;
    color: #FFFFFF;
}

.time h3{
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
    font-family: 'Orbitron';
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}